{% extends "default:base.html" %}

{% block content %}
<h1>Fáilte Ireland Attractions &amp; Activities</h1>
<h2>Tag: {{ tagSlug | replace("+", " ") }}</h2> 
<h2>County: {{ countySlug }}</h2>
<div class="selectorListContainer">
  <div class="selectorList">
    <h2>Localities</h2>
    <ul>
    {% for row in sql("select AddressLocality, AddressRegion, count(*) as count from entities_combined where AddressRegion = ? and Tag = ? And AddressLocality != '' group by AddressLocality order by AddressLocality asc", [countySlug | replace("+", " "), tagSlug | replace("+", " ")]) %}
    <li><a href="/tags/{{tagSlug}}/counties/{{ row.AddressRegion }}/localities/{{ row.AddressLocality | replace(" ", "+") }}">{{ row.AddressLocality }}</a><span>({{row.count}})</span></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% with rows=sql("select * from entities_combined where AddressRegion = ? and Tag = ?", [countySlug, tagSlug | replace("+", " ")]) %}
{% include '_attraction_list.html' %}
{% endwith %}
{% endblock %}
