{% extends "default:base.html" %}

{% block content %}
<h1>Fáilte Ireland Attractions &amp; Activities</h1>
<h2>County: {{ countySlug }}</h2>
<div class="selectorListContainer">
  <div class="selectorList">
    <h2>Tags</h2>
    <ul>
    {% for row in sql("select Tag, count(*) as count from entities_combined where AddressRegion = ? group by Tag order by Tag asc", [countySlug]) %}
    <li><a href="/tags/{{ row.Tag | replace(" ", "+") }}/counties/{{ countySlug }}">{{ row.Tag }}</a><span>({{ row.count }})</span></li>
    {% endfor %}
    </ul>
  </div>
  <div class="selectorList">
    <h2>Localities</h2>
    <ul>
    {% for row in sql("select AddressLocality, AddressRegion, count(*) as count from entities where AddressRegion = ? and AddressLocality != '' group by AddressLocality order by AddressLocality asc", [countySlug | replace("+", " ")]) %}
    <li><a href="/counties/{{ row.AddressRegion }}/localities/{{ row.AddressLocality | replace(" ", "+") }}">{{ row.AddressLocality }}</a><span>({{row.count}})</span></li>
    {% endfor %}
    </ul>
  </div>
</div>
{% with rows=sql("select * from entities_combined where AddressRegion = ? group by Name", [countySlug]) %}
{% include '_attraction_list.html' %}
{% endwith %}
{% endblock %}
